h1 {
	color: rgb(2, 132, 130);
}

h2 {
	color: #ffd700;
}

.board {
	height :50%;
	width: 50%;
	display:inline-block;
}

.card{
	height: 200px;
	width: 150px;
	border-style:solid;
	border-width: 1px;
	border-radius: 10px;
	background-color:yellow;
	float:left;
	margin: 8%;
}

.name{
	color: #ff0000;
}

nav{
	background-color:#808080;

}
nav a{
	text-decoration: none;
	color:white;
	background-color:#ffbf00;
	padding:35px;
	display: block;
	float:left;

}
a:hover{
	background-color:#ee5f3c;
}
.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
      }
footer{
	background-color:#808080;
}
.body-parts{
	text-align: center;
}




